
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    @Scripts.Render("~/bundles/phoneController")
}

<h2>Smart Phone Database</h2>

@section sidebar{

    <ul>
        <li ng-repeat="d in data">
            {{d.ManufacturerName}}
            <ul>
                <li ng-repeat="p in d.PhoneDto | orderBy:'ModelName'">
                    <a ng-click="displayPhone(p.Id)">{{p.ModelName}}</a>
                </li>
            </ul>
        </li>
    </ul>
    <button ng-click="displayForm()">Add phone</button>
}

<div>
    
    <div ng-show="phoneFormDisplayable" add-phone-form-template></div>
    <div ng-show="phoneDisplayable" display-phone-form-template></div>

</div>

